<div id="comments">
	<table>
		<thead>
			<th>Content</th>
			<th>Added By</th>
			<th>Added Since</th>
			<th>Action Delete</th>
		</thead>
		<tbody>
			<%= render :partial => "admins/comment", :collection => @comments %>
		</tbody>
	</table>
</div>