<div class="reply">
  <p>
    <label for="texto_replies_attributes_<%= index %>_content">Content</label>
    <textarea cols="40" id="texto_replies_attributes_<%= index %>_content" name="texto[replies_attributes][<%= index %>][content]" rows="20"></textarea>
  </p>
</div>