<h1>New texto</h1>
<%= @texto.inspect %>
<div id="form_container">
	<% form_for(@texto) do |f| %>
	  <%= render :partial => 'form', :object => f %>
	<% end %>	
</div>

<br />
<%= link_to 'Back', textos_path %>
